// SCSS ENTRY POINT 

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Raleway:wght@400;500;600;700&display=swap');

body, html{
    font-family: 'Raleway', sans-serif;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1380px
);

$primary: #2BC2D7;
$secondary: #232323;
$blue-light:#F0FBFC;
$hover: #FF844B;
$font-14:14px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$weight-700:700;
$weight-600:600;

.active{
    background-color: $primary;
    border-radius: 20px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.10);
}

@import "../../../node_modules/bootstrap/scss/bootstrap";


